.formulation:has(+ div .llm_teacher-feedback) {
    margin-bottom: 10px;
}

.llm_teacher-formulation p {
    font-size: 20px;
}

.llm_teacher-feedback p {
    font-size: 15px;
}

.llm_teacher-formulation textarea {
    width: calc(100% - 4px) !important;
    max-width: 700px;
    min-height: 150px;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 15px;
    font-size: 16px;
}
